
<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}

        
        {{ $image := resources.Get .image }}
        {{ $image = $image.Resize "1920x q80 photo"}}
        
        <div class="swiper-slide">
            <img src='{{ $image.RelPermalink }}' alt="">
            <div class="s-fade-txt">
                <h2 class="text-4xl text-white">{{ .title }}</h2>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>